h1 {
	color: white;
	font-family: Roboto Mono;
	color: #EEEEEE;
	margin: 0;
}

body {
	position: fixed;
	inset: 0px;
	width: fit-content;
	height: fit-content;
	max-width: 100vw;
	max-height: 100dvh;
	margin: auto;
	background: black;
}

.everything {
	line-height: 1.8;
	color: #CCCCCC;
	margin: 20px auto;
	max-width: 450px;
	font-family: Roboto Mono;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	font-size: 20px;
	padding: 10 10px;
}

.links {
	flex-direction: row;
}

.logo {
	width: 35px;
	height: 35px;
}

.photo {
	width: 250px;
	height: 250px;
}


.llogo {
	width: 40px;
	height: 40px;
}

a {
	padding: 10px;
	color: white;
}

a:visited {
	color: white;
}
