header {
	line-height: 1.8;
	max-width: 50vw;
	color: white;
	font-family: Roboto Mono;
	color: #EEEEEE;
	margin: 20px auto;
}

h1 {
	line-height: 1.8;
	max-width: 50vw;
	color: white;
	font-family: Roboto Mono;
	color: #EEEEEE;
	margin: 20px auto;
}

h2 {
	line-height: 1.8;
	max-width: 50vw;
	color: white;
	font-family: Roboto Mono;
	color: #EEEEEE;
	margin: 20px auto;
}


body {
	background: black;
}

.everything {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links {
	flex-direction: row;
}

.text {
	text-align: justify;
	text-justify: auto;
	line-height: 1.8;
	max-width: 50vw;
	font-family: Roboto Mono;
	font-size: 20px;
	color: #CCCCCC;
	margin: 20px auto;
}

.logo {
	width: 35px;
	height: 35px;
}

.photo {
	width: 250px;
	height: 250px;
}


.llogo {
	width: 40px;
	height: 40px;
}

a {
	padding: 10px;
	color: white;
}

a:visited {
	color: white;
}
